
nav {
    position: relative;
    width: 100%;
}
   
      

body{
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-image: url("/static/images/dentinho.jpeg");
}


.inline {
    display: inline-block;
}

.episodios a{
    color: aliceblue;
    display: inline-block;
    background-color: rgb(39, 79, 211);
    margin-bottom: 1%;
}

h4 {
    margin: 0;
}

.nome {
    background-color: blue;
}


nav ul{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(61, 59, 59);
}

nav a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: rgb(213, 235, 14);
    transition: background-color 0.3s ease;
    font-family: Impact;
}

nav a:hover {
    background-color: brown;
}


nav li{
    display: inline-block;
}


 
.expansivel ul {
    display: none;
}

.expansivel .expandir ul {
    display: block;
    list-style: none;
  }